// common colors
$primary-color: red;
$secondary-color: gray;

// buttons
$button-default-top-color: #f47b20;
$button-default-bottom-color: #e46608;
$button-default-hover-top-color: #e46608;
$button-default-hover-bottom-color: #f47b20;